.Welcome {
  padding: 10px;
  text-align: center;
  color: #1a2637;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.main-title {
  font-family: 'Montserrat', sans-serif;
  margin: 30px 0px 30px 0px;
  font-weight: bold;
  font-size: 24px;
}

.select-form {
  margin: 10px 0px 20px 0px;
  width: 280px;
  height: 30px;
}
